In [3]:
import numpy as np
import pandas as pd

# Numpy

### Task 1.

In [21]:
a = np.transpose(np.array([[1, 2, 3, 3, 1], [ 6, 8, 11, 10, 7]]))

print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [22]:
mean_a = a.mean(axis=0)
print("Средние значения строк: {}".format(mean_a))

Средние значения строк: [2.  8.4]

### Task 2.

In [23]:
a_centered = a - mean_a
print (a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Task 3.

In [32]:
a_centered_sp = (a_centered[:,0])@(a_centered[:,1])
print (a_centered_sp)

8.0

In [39]:
print(a_centered_sp/(a.shape[0] -1))

2.0

### Task 4.

In [41]:
print(np.cov(np.array([[1, 2, 3, 3, 1], [ 6, 8, 11, 10, 7]]))[1,0])

2.0

# Pandas

### Task 1.

In [6]:
i = [1, 2, 3]
a = ['Тургенев', 'Чехов', 'Островский']
authors = pd.DataFrame({
    "author_id": i,
    "author_name": a
})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [7]:
a = [1, 1, 1, 2, 2, 3, 3]
b = ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']
p = [450, 300, 350, 500, 450, 370, 290]
book = pd.DataFrame({
    "author_id": a,
    "book_title": b,
    "price": p
})
print (book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Task 2.

In [8]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Task 3.

In [9]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

### Task 4.

In [73]:
groupby = authors_price.groupby("author_name")
authors_stat = pd.merge(
                        groupby['price'].min(),
                        pd.merge(
                            groupby['price'].max(),
                            np.round(groupby['price'].mean(), 2),
                            on='author_name', how='outer'),
                        on='author_name', how='outer').rename (columns = {'price': 'min_price'}).rename (columns = {'price_x': 'max_price'}).rename (columns = {'price_x': 'max_price'}).rename (columns = {'price_y': 'mean_price'})
print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         290        370      330.00
Тургенев           300        450      366.67
Чехов              450        500      475.00

### Task 5.

In [76]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [77]:
?pd.pivot_table

In [82]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'],columns=['cover'], aggfunc=np.sum)
book_info["мягкая"].fillna(0, inplace=True)
book_info["твердая"].fillna(0, inplace=True)
print(book_info)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [85]:
import pickle as pk

In [86]:
with open('book_info.pickle', 'wb') as f:
     pk.dump(book_info, f)

In [87]:
with open('book_info.pickle', 'rb') as f:
    book_info2 = pickle.load(f)
print(book_info2)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0