### Task 1. Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn.

In [57]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.ensemble as se
import sklearn.metrics as sm

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [14]:
target = boston["target"]

target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [8]:
print(boston["DESCR"])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

Создайте датафреймы X и y из этих данных.

In [11]:
data = boston["data"]

In [12]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
y = pd.DataFrame(target, columns=["price"])

y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.1 KB

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42,test_size=0.3)

In [27]:
X_train.info

<bound method DataFrame.info of          CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS   RAD    TAX  \
5     0.02985   0.0   2.18   0.0  0.458  6.430  58.7  6.0622   3.0  222.0
116   0.13158   0.0  10.01   0.0  0.547  6.176  72.5  2.7301   6.0  432.0
45    0.17142   0.0   6.91   0.0  0.448  5.682  33.8  5.1004   3.0  233.0
16    1.05393   0.0   8.14   0.0  0.538  5.935  29.3  4.4986   4.0  307.0
468  15.57570   0.0  18.10   0.0  0.580  5.926  71.0  2.9084  24.0  666.0
..        ...   ...    ...   ...    ...    ...   ...     ...   ...    ...
106   0.17120   0.0   8.56   0.0  0.520  5.836  91.9  2.2110   5.0  384.0
270   0.29916  20.0   6.96   0.0  0.464  5.856  42.1  4.4290   3.0  223.0
348   0.01501  80.0   2.01   0.0  0.435  6.635  29.7  8.3440   4.0  280.0
435  11.16040   0.0  18.10   0.0  0.740  6.629  94.6  2.1247  24.0  666.0
102   0.22876   0.0   8.56   0.0  0.520  6.405  85.4  2.7147   5.0  384.0

     PTRATIO       B  LSTAT
5       18.7  394.12   5.21
116     17.8  393.30  12.04
45      17.9  396.90  10.21
16      21.0  386.85   6.58
468     20.2  368.74  18.13
..       ...     ...    ...
106     20.9  395.67  18.66
270     18.6  388.65  13.00
348     17.0  390.94   5.99
435     20.2  109.85  23.27
102     20.9   70.80  10.63

[354 rows x 13 columns]>

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [30]:
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [31]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [33]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

### Task2. Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [42]:
model = se.RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [44]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [46]:
model_y_pred = model.predict(X_test)

In [47]:
model_y_pred.shape

(152,)

In [61]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "Lnr_y_pred": y_pred.flatten(),
    "FR_y_pred": model_y_pred.flatten(),
    "R2_Lnr": sm.r2_score(y_test["price"], y_pred.flatten()),
    "R2_FR": sm.r2_score(y_test["price"], model_y_pred.flatten()),
    
})

check_test.head(10)

     y_test  Lnr_y_pred  FR_y_pred    R2_Lnr     R2_FR
173    23.6   28.648960  22.846138  0.711226  0.874997
274    32.4   36.495014  31.156114  0.711226  0.874997
491    13.6   15.411193  16.297226  0.711226  0.874997
72     22.8   25.403213  23.821036  0.711226  0.874997
452    16.1   18.855280  17.212148  0.711226  0.874997
76     20.0   23.146689  21.820092  0.711226  0.874997
316    17.8   17.392124  19.866369  0.711226  0.874997
140    14.0   14.078599  14.759938  0.711226  0.874997
471    19.6   23.036927  21.235224  0.711226  0.874997
500    16.8   20.599433  20.883103  0.711226  0.874997

RandomForestRegressor работает лучше, т.к. доля необьясненной дисперсии в нем меньше, и R2 ближе к 1

### Task 3.
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [65]:
? se.RandomForestRegressor

In [79]:
print(np.sum(model.feature_importances_)) #найдите сумму всех показателей важности

0.9999999999999999

In [99]:
FI = pd.DataFrame({
    "Name": feature_names,
    "Value": model.feature_importances_,    
})
FI.sort_values(["Value"], ascending=False)[:2] # установите, какие два признака показывают наибольшую важность.

     Name     Value
12  LSTAT  0.415679
5      RM  0.402705

обязательно выполню остальные задания со звездочкой, но позже, времени нехватает в связи с переездом на этой неделе.